
/* Table
 * ---------------------------------------- */

.ea-b-table {
    width: 100%;
    
    td, th {
        padding: 0.5rem;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    thead th {
        @extend .ea-h4;
        @extend .ea-u-mt-0;
        border-bottom: 1px solid;
        
    }
    tfoot th {
        border-top: 1px solid;
    }
}

.ea-b-table--striped {
    @extend .ea-b-table;
    
    td, th {
        padding: 0.5rem;
        &:first-child, &:last-child {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    
    tbody > tr:nth-child(odd) {
        background: rgba(black, 0.05);
    }
}

.ea-is-hoverable {
    &.ea-b-table,
    &.ea-b-table--striped {
        tbody tr:hover td {
            background: rgba(black, 0.1);
        }
    }
}