
// Colors
// ------------------------------------------- /

$red: #FF0044;
$gray: #C2C2C2;

$color-map: (
    'black' : black,
    'white' : white,
    'red'   : $red,
    'gray'  : $gray
);

$color-text-main: black;

$color-link: $red;
$color-link-active: darken( $color-link, 20% );

$color-code: black;

$color-blockquote: black;

$color-background-selection: lightblue;
$color-selection-text: white;

$color-facebook: #3b5997;
$color-twitter: #55abed;
$color-youtube: #cd201f;
$color-linkedin: #0077b4;
$color-google: #F44336;
